.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.justify-content__space_between {
    justify-content: space-between;
}

.column {

}

html, body {
    margin: 0;
    padding: 0;
}

.margin-left-20 {
    margin-left: 20px;
}
.margin-right-20 {
    margin-right: 20px;
}